.parent {
    color: red;
}

h1 {
    font-size: 80px;
}

h1:first-letter {
    color: #bbb;
    font-size: 110px;
}

p {
    color: green;
    font-size: 18px;
    line-height: 25px;
}

li {
    color: green;
}

div > ul > li {
    color: yellow;
}

div > ul {
    margin-top: 20px;
}

p + p {
    text-decoration: underline;
}

h1 + p {
    font-size: 30px;
    line-height: 40px;
    margin-left: 30px;
}

h1 + p:first-letter {
    color: yellow;
    font-size: 35px;
}

